*{
  box-sizing: border-box;
}

  /* font-family: 'DM Sans', sans-serif; */
.body{
  background: #F5EDE7;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

main{
  max-width: 1440px;
  width: 100%;
  padding: 0 16px;
}

div,
h1,
h2,
h3,
p,
img,
a{
  margin: 0;
  padding: 0;
}

/* 0 16 8 20 */
.about{

}

.about__title{
  text-align: center;
  font-size: 43px;
  line-height: 60.01px; /* 139.559% */
  text-transform: uppercase;
  margin-bottom: 63px;
}

.about__wrapper{
  display: flex;
}


.about__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.19vw;
  height: auto;
  
}

.about__card:not(:last-child) {
  margin-right: 24px; /* Наприклад, встановіть бажаний відступ */
}

.about__img{
  width: 6.88vw;
  height: auto;
  padding-bottom: 12px;
}

.about__name{
  text-align: center;
  font-size: 27px;
  line-height: 35.996px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.about__text{
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 28.008px; /* 155.6% */
}

/*Mykola (header)*/
.header {
  width: 100vw;
  height: 6.1vw;
  background-color: #f5ede7;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.7vw;
  display: flex;
}

.logo-text-block {
  align-items: flex-end;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
  display: flex;
}

.login_link {
  color: #000;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  font-size: 1vw;
  text-decoration: none;
  display: flex;
}

.image-logo {
  width: 9.7vw;
  height: 3.8vw;
}

.header-text-block {
  grid-column-gap: 1.1vw;
  grid-row-gap: 1.1vw;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 1.1vw;
  display: flex;
}

.header-text {
  font-size: 1.1vw;
  line-height: 1.1vw;
}

.login-cart-block {
  margin-right: 1.8vw;
  padding-bottom: 0.5vw;
  display: flex;
}

.login_link {
  color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  font-size: 1vw;
  text-decoration: none;
  display: flex;
}

.login-image {
  width: 2.8vw;
  height: 2.8vw;
}

.login-text {
  width: auto;
  height: auto;
  line-height: 1vw;
}

.cart-link {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: .5vw;
  text-decoration: none;
  display: flex;
}
.cart-image {
  width: 2.8vw;
  height: 2.8vw;
}

.cart-text {
  color: #000;
  font-size: 1vw;
  line-height: 1vw;
}
/*Mykola*/
